<%= simple_form_for [:admin, @book], :defaults => { :required => false, :error => false } do |f| %>
  <div id="book-fields">
    <%= render "cover", :book => @book, :link_to_image => true, :form => f %>
    
    <%= f.input :accession_id, :as => :string, :label => "Book no.", :disabled => true %>
    <%= f.input :title, :input_html => { :autocomplete => :off } %>
    <%= f.input :author_name, :label => "Author" %>
    <%= f.input :illustrator_name, :label => "Illustrator" %>
    <%= f.input :publisher_name, :label => "Publisher" %>
    <%= f.input :year,
      :as => :string,
      :label => "Year of Publication",
      :label_html => { :class => "multi-line centered" },
      :input_html => { :maxlength => 4 } %>
    <%= f.input :country_name, :label => "Country", :as => :string %>
    <div class="input">
      <%= f.label :age_from, "Age level", :class => ( @book.errors[:age_from].present? ? "error" : nil ) %>
      <%= f.input_field :age_from, :maxlength => 2, :as => :string %>
      <%= f.label :age_to, "to", :class => "inline" + ( @book.errors[:age_to].present? ? " error" : "" ) %>
      <%= f.input_field :age_to, :maxlength => 2, :as => :string %>
    </div>
    <%= f.input :book_type_id,
                :label => "Book type",
                :as => :select,
                :collection => BookType.all
                %>
    <%= f.input :collection_list, :label => "Collections", :input_html => { "data-pre" => @book.collections_json } %>
    
    <div class="input">
      <label<%=raw @book.errors[:book_awards].present? ? ' class="error"' : '' %>>Awards</label>
      <div id="award-field-list">
        <ul>
          <% for book_award in @book.book_awards %>
            <%= f.simple_fields_for "award_attributes[]", book_award do |book_award_form| %>
              <%= render "admin/awards/fields", :f => book_award_form %>
            <% end %>
          <% end %>
        </ul>
        <p>
          <a href="#" id="add-award-link">Add award</a>
        </p>
      </div>
    </div>
    
    <%= f.input :amazon_url, :label => "Amazon URL" %>
    <%= f.input :short_description, :label_html => { :class => "multi-line" } %>
    
    <div class="input descriptions">
      <label for="description-title">Descriptions</label>
      <div id="description-fields">
        <%= render "admin/descriptions/fields", :form => f, :book => @book %>
      </div>
    </div>
    
    <%= render "admin/books/amazon_sidebar" %>
  </div>
  
  <%= f.submit "Save", :class => "submit" %>
  
  <% unless @book.new_record? %>
    <%= f.submit "Next Book", :class=>"next-book submit" %>
    
    <%= f.submit "Previous Book", :class=>"previous-book submit" %>

    <%= link_to "Delete", admin_book_path(@book),
    class: "delete-book button",
    data: { confirm: "Are you sure you want to delete this book? This cannot be undone." },
    method: :delete %>
  <% end %>
  
<% end %>