<% content_for :top_nav do %>
  <li>
    <%= link_to "Summary", summarised_admin_transactions_path %>
  </li>
  
  <li>
    <%= link_to "Details", admin_transactions_path %>
  </li>

  <li>
    <%= link_to "Loans", admin_loans_path %>
  </li>
  
  <li class="current">
    <%= link_to "Configure", admin_finances_config_path %>
  </li>
<% end %>

<%= simple_form_for [:admin, @account], :defaults => { :required => false, :error => false } do |f| %>
  <%= f.input :name %>
  <%= f.input :share %>
  <p class="note"><em>Total share of other accounts: <%= @account.sum_of_other_shares %>%</em></p>
  <%= f.submit "Save", :class => "submit" %>
<% end %>
