<section id="shopping-cart">
  <h2>Shopping Cart</h2>
  
  <% if shopping_cart.items > 0 %>
    <a href="<%= order_path(anchor: "order") %>" class="major button order-button">Check Out</a>
    
    <p class="info">Books are only removed from the store after you finish
    ordering, so books in your cart may occasionally become unavailable while
    you are shopping.</p>
  <% end %>
  
  <div class="container" data-count="<%= shopping_cart.items %>">
  <% if shopping_cart.items > 0 %>
    <table>
      <% @cart_copies.each do |sc| %>
      <% c = sc.copy %>
        <tr data-id="<%= c.id %>"<%= class_if !c.in_stock, "unavailable" %>>
          <td class="tiny-cover">
            <% if c.product.cover_image.present? %>
              <a href="<%= product_path(c.product) %>" class="product-link">
                <img src="<%= c.product.cover_image.tiny_url %>" alt="" width="<%= c.product.cover_image.tiny_width %>" height="<%= c.product.cover_image.tiny_height %>" />
              </a>
            <% end %>
          </td>
          
          <td class="copy">
            <% if c.new_copy %>
              <div class="number">
                <p class="number"><%= sc.number %></p>
                <%= link_to "Change", "#", :class => "edit-link" %>
                <p class="sidenote">No. of<br /> copies</p>
              </div>
            <% end %>
            <p class="title">
              <%= link_to c.product.title, product_path(c.product), :class => "product-link" %>
            </p>
            <p class="creators">
              <%= c.product.author_name + (c.product.illustrator.present? ? ' ' + c.product.illustrator_name : '') %>
            </p>
            <p class="format" title="<%= c.edition.publisher_name %>">
              <%= c.edition.format_name %>
            </p>
            <% if !c.new_copy %>
              <div class="rating" title="<%= c.get_condition_description %>">
                <%= render "shared/rating", :rating => c.condition_rating %>
              </div>
            <% end %>
          </td>
          
          <td class="price">
            <p><%= RupeeHelper.to_rupee(c.price) %></p>
            <% unless c.in_stock %>
              <p class="error">Now unavailable</p>
              <% if c.product.copies.stocked.length > 0 %>
                <%= link_to "Pick another copy", product_path(c.product), :class => "product-link unavailable-copy" %>
              <% end %>
            <% end %>
          </td>
          
          <td class="remove">
            <%= link_to "Remove", update_cart_path(:shopping_cart => { :remove_copy => c.id }),
              :class => "remove-link",
              :title => "Remove from cart"
            %>
          </td>
        </tr>
      <% end %>
    </table>
    
    <div class="total">
      <p>Total: <span class="amount"><%= RupeeHelper.to_rupee(shopping_cart.total) %></span> <span class="sidenote">(excluding postage)</span></p>
    </div>
  <% else %>
    <p class="empty-msg">Your shopping cart is empty</p>
  <% end %>
  </div>
  
  <% if shopping_cart.items > 0 %>
    <a href="<%= order_path(anchor: "order") %>" class="major button order-button">Check Out</a>
    <a href="<%= update_cart_path(:shopping_cart => { :empty => true }) %>" class="button" id="empty-button">Empty Cart</a>
    <%= link_to "Back", :back, :class => "back-button left" %>
  <% else %>
    <%= link_to "Back", :back, :class => "back-button left" %>
  <% end %>
  
</section>