
<div class="table-container">
  <table id="orders-table" data-init-select="<%= params[:selected_id] %>">
    <% @orders.each do |order| %>
      <% present(order) do |o| %>
        <tr data-id="<%= o.number %>">
          <td class="date" data-sort-by="<%= o.timestamp %>"><%= o.formatted_date %>
          <td data-sort-by="<%= o.number %>"><%= o.number %></td>
          <td data-sort-by="<%= o.name %>"><%= o.name %></td>
          <td data-sort-by="<%= o.city %>"><%= o.city %></td>
          <td data-sort-by="<%= o.delivery_short %>"><%= o.delivery_short %></td>
          <td data-sort-by="<%= o.number_of_copies %>"><%= o.number_of_copies %> books</td>
          <td class="total" data-sort-by="<%= o.total_amount %>"><%= o.formatted_total_amount %></td>
          <td class="paid"><%= o.paid_check_box %></td>
          <td class="posted"><%= o.posted_check_box %></td>
          <td class="has-button"><%= o.edit_link("") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<section id="order-info">
  <h2>Order : <span class="name"></span></h2>
  
  <div class="amount">
    <p class="postage">Postage: <span></span></p>
    <p class="total">Total: <span></span></p>
    <p class="postage-expenditure">Postage expenditure: <span></span><a href="#" class="edit-link"></a>
    </p>
  </div>
  
  <div class="table-wrapper" id="order-copies">
    <div class="table-container">
      <table></table>
    </div>
    <p class="add-container"><a href="#" class="add-link">Manually add book</a></p>
  </div>

  <div class="table-wrapper" id="order-costs">
    <div class="table-container">
      <table></table>
    </div>
  </div>
  
  <div class="info">
    <p class="email" title="Email"></p>
    
    <div class="address" title="Address">
      <span class="icon"></span>
      <pre></pre>
    </div>
    
    <p class="phone" title="Phone"></p>
    
    <p class="payment"></p>
    
    <p class="delivery"></p>
    <p class="pickup"></p>
  </div>
  
  <div class="comments" title="Comments">
    <pre></pre>
    <a href="#" class="edit-link"></a>
  </div>
  
  <div class="notes" title="Notes">
    <pre></pre>
    <a href="#" class="edit-link"></a>
  </div>
</section>
