<!DOCTYPE html>
<html>
<head>
  <title>StoryRev</title>
  <%= stylesheet_link_tag    "admin/admin" %>
  <%= javascript_include_tag "admin/admin" %>
  <%= csrf_meta_tags %>
</head>
<body<%=raw @class ? " class=\"#{@class}\"" : nil %>>

<% if admin_role %>
  <ul class="top-nav">
    <li>
      <%= link_to "Books", admin_products_path %>
      <%= yield :book_nav %>
    <li>
      <%= link_to "Themes", admin_themes_path %>
    </li>
    <li>
      <%= link_to "Logout", admin_logout_path %>
    </li>
  </ul>
<% end %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
