<ul class="delivery">
  <li>
    <p><strong><%= f.radio_button(:delivery_method, "1") %> Speed post (<%= RupeeHelper.to_rupee(20) %> first book, Rs(<%= RupeeHelper.to_rupee(10) %> per additional book)</strong></p>
  </li>
  <li>
    <p<%= class_if @order.errors[:pickup_point_id].present?,"error" %>><strong><%= f.radio_button(:delivery_method, "2") %> Pick up point in Bangalore</strong></p>
    <ul class="pickup">
      <% PickupPoint.all.each do |p| %>
        <li><p><%= f.radio_button(:pickup_point_id, p.id) %> <%= p.name %></p></li>
      <% end %>
      
      <li>
        <p><%= f.radio_button(:pickup_point_id, 0) %> Other (we can sometimes find an unlisted common point)</p>
        <%= f.text_area :other_pickup, :placeholder => "Other pickup point details" %>
      </li>
    </ul>
  </li>
</ul>