<div class="confirmation">
  <table>
    <% n = 0 %>
    <% order.order_copies.stocked.each do |oc| %>
      <% c = oc.copy %>
      <% n += 1 %>
      <tr>
        <td class="number">
          <p><strong><%= n %></strong></p>
        </td>
        
        <td class="copy">
          <p class="title">
            <strong><%= c.book.title %></strong>
          </p>
          <p class="creators">
            <%= c.book.author_name + (c.book.illustrator.present? ? ' ' + c.book.illustrator_name : '') %>
          </p>
        </td>
        
        <td class="edition">
          <p class="format" title="<%= c.edition.publisher_name %>">
            <%= c.edition.format_name %>
          </p>
          <% unless c.new_copy %>
            <div class="rating" title="<%= c.condition_description %>">
              <%= render "shared/rating", :rating => c.condition_rating %>
            </p>
          <% end %>
        </td>
        
        <td class="number">
          <% if oc.number > 1 %>
            <p class="number"><%= oc.number %></p>
          <% end %>
        </td>
        
        <td class="price">
          <p><%= CurrencyMethods.to_currency(c.price) %></p>
        </td>
      </tr>
    <% end %>
  </table>
  
  <div class="total">
    <% if @order.postage_amount > 0 %>
      <p class="postage"><strong>Postage:</strong> <%= CurrencyMethods.to_currency(@order.postage_amount) %></p>
    <% end %>
    <p class="total-amount"><strong>Total: <%= CurrencyMethods.to_currency(@order.total_amount) %></strong></p>
  </div>
  

  <% if order.order_copies.unstocked.length > 0 %>
  <div class="unavailable">
    <p class="error">The following items are no longer available:</p>
    <% n = 0 %>
    <% order.order_copies.unstocked.each do |oc| %>
      <% c = oc.copy %>
      <% n+= 1 %>
      <div class="item">
        
        <p class="number"><strong><%= n %></strong></p>
        
        <p class="title">
          <strong><%= c.book.title %></strong>
        </p>
        
        <p class="creators">
          <%= c.book.author_name + (c.book.illustrator.present? ? ' ' + c.book.illustrator_name : '') %>
        </p>
        
        <p class="format" title="<%= c.edition.publisher_name %>">
          <%= c.edition.format_name %>
        </p>
        
        <p class="rating" title="<%= c.condition_description %>">
          <%= render "shared/rating", :rating => c.condition_rating %>
        </p>
        
        <p class="price"><%= CurrencyMethods.to_currency(c.price) %></p>
        
      </div>
    <% end %>
  </div>
  <% end %>
  
  <% present(@customer) do |c| %>
  <div class="contact">
    
    <p class="name"><%= c.name %></p>
    
    <% if c.full_address.present? %>
      <%= simple_format c.full_address, class: :address %>
    <% end %>
    
    <div class="phone-email">
    <% if c.phone.present? %>
      <p>Phone: <%= c.phone %></p>
    <% end %>
    
    <p>Email: <%= c.email %></p>
    </div>
  </div>
  
  <div class="other">
    <p class="delivery">
      <%= c.payment_text %><br />
      <%= c.delivery_text %>
      <% if c.pickup_point_text.present? %>
        <br />
        <span><%= c.pickup_point_text %></span>
      <% end %>
    </p>
    
    <%= simple_format c.other_info, class: :comments %>
  </div>
  <% end %>
</div>