<ul class="delivery">
  <li>
    <p><strong><%= f.radio_button(:delivery_method, "1") %> Speed post (<%= CurrencyMethods.to_currency(20) %> first book, <%= CurrencyMethods.to_currency(10) %> per additional book)</strong></p>
  </li>
  <li>
    <p<%= class_if @order.errors[:pickup_point_id].present?,"error" %>><strong><%= f.radio_button(:delivery_method, "2") %> Pick up point in Chennai</strong></p>
    <ul class="pickup">
      <% PickupPoint.visible.each do |p| %>
        <li><p><%= f.radio_button(:pickup_point_id, p.id) %> <%= p.name %></p></li>
      <% end %>
    </ul>
  </li>
</ul>