<section id="order">
  <h2>Order</h2>
  
  <ul class="progress">
    <li<%= class_if @step == 1, "current" %>>Delivery Options</li>
    <li>></li>
    <li<%= class_if @step == 2, "current" %>>Payment Options</li>
    <li>></li>
    <li<%= class_if @step == 3, "current" %>>Address</li>
    <li>></li>
    <li<%= class_if @step == 4, "current" %>>Confirm</li>
  </ul>
  
  <%= simple_form_for @customer,
    url: @step == 4 ? order_confirmation_path(anchor: "order") : order_step_path(step: @step, anchor: "order"),
    method: "post",
    defaults: { :required => false, :error => false } do |f|
  %>
    
    <div class="form-container">
    
      <% if @customer.errors.size > 0 %>
        <p class="error">You haven't filled in some required fields</p>
      <% end %>
      
      <%= render "step_#{@step}", :f => f %>
    </div>

    <%= link_to "Cancel", order_cancel_path, class: "cancel button" %>

    <% unless @step == 1 %>
      <%= link_to "Back", order_step_path(step: @step - 1, anchor: "order"), class: "back button" %>
    <% end %>
    
    <%= f.submit (@step == 4 ? "Confirm" : "Next"), :class => "next button" %>
  <% end %>
  
  
  
</section>
