<% @stocked_books ||= Book.unscoped.where(:in_stock => true) %>
<% @stocked_book_ids ||= @stocked_books.map{|x| x.id} %>

<section id="collections">
  
  <ul>
    <li class="all">
      <%= link_to "All books", collection_path(:all, nil), :class => get_base.nil? ? "current" : nil %>
    </li>
    
    <li class="recent">
      <%= collection_link "Newest additions", :recent, 1 %>
    </li>
    
    <li class="award_winning">
      <%= collection_link "Award-winning books", :award_winning, 1 %>
    </li>
    
    <% @collections.each do |x| %>
      <li data-val="<%= x.id %>">
        <%= collection_link x.name, :collection, x.id %>
      </li>
    <% end %>
  </ul>
</section>