<% @stocked_products ||= Product.unscoped.where(:in_stock => true) %>
<% @stocked_product_ids ||= @stocked_products.map{|x| x.id} %>

<section id="collections">
  <h3>Collections</h3>
  <div>
    
    <ul>
      <li>
        <%= link_to "All books", collection_path(:all, nil), :class => no_base? ? "current" : nil %>
      </li>
      <li>
        <%= collection_link "New additions", :recent, 1 %>
      </li>
    </ul>
    
    <h4>Themes</h4>
    <ul>
      <% @collections.each do |x| %>
        <li>
          <%= collection_link x.name, :collection, x.id %>
        </li>
      <% end %>
    </ul>
    
    <h4>Awards</h4>
    <ul>
      <% @awards.each do |x| %>
        <li>
          <%= collection_link x.name, :award, x.id %>
        </li>
      <% end %>
    </ul>
    
    <h4>Publishers</h4>
    <ul>
      <% @publishers.each do |x| %>
        <li>
          <%= collection_link x.name, :publisher, x.id %>
        </li>
      <% end %>
    </ul>
    
    <h4>Authors</h4>
    <ul>
      <% @authors.each do |x| %>
        <li>
          <%= collection_link x.full_name, :author, x.id %>
        </li>
      <% end %>
    </ul>
    
    <h4>Illustrators</h4>
    <ul>
      <% @illustrators.each do |x| %>
        <li>
          <%= collection_link x.full_name, :illustrator, x.id %>
        </li>
      <% end %>
    </ul>
  </div>
</section>