<section id="filters">
  <%= form_tag store_path, :method => :get do %>
    <ul>
    <% 5.downto(1).each do |c| %>
      <li>
        <%= check_box_tag "condition[#{c}]", "1", params[:condition][c.to_s] %>
        <span class="rating"><%= render "shared/rating", :rating => c %></span>
        <%= Copy.condition_to_words(c) %>
      </li>
    <% end %>
    </ul>
    
    <%= submit_tag ("Apply") %>
  <% end %>
</section>