<section id="filters">
  <div class="search">
    <h3>Search all</h3>
    <%= form_tag root_path, :method => :get do %>
      <%= text_field_tag :search, params[:search], :placeholder => "title / author", :autocomplete => "off", :class => "text" %>
      <input type="image" src="/images/search.png" alt="Go"  id="search-submit" />
    <% end %>
  </div>
  
  <h3>Filters</h3>  
    <ul>
      <li><%= filter_link "All books", :type, nil %></li>
      <li><%= filter_link "New books", :type, "new" %></li>
      <li><%= filter_link "Used books", :type, "used" %></li>
    </ul>
    
    <ul>
      <li><%= filter_link "All categories", :category, nil %></li>
      <% @product_types.each do |x| %>
        <li><%= filter_link x.name, :category, x.id %></li>
      <% end %>
    </ul>
    
    <ul class="age">
      <li><%= filter_link "All ages", :age, nil %></li>
      <%= form_tag root_path(:anchor => "products"), :method => :get do %>
        <% filter_params(:age, nil).each do |k,v| %>
          <input type="hidden" name="<%= k %>" value="<%= v %>" />
        <% end %>
        <li class="custom">
          <span<%= class_if params[:age].present?, "current" %>>Age</span>
          <%= text_field_tag :age, params[:age], :autocomplete => "off", :class => "text", :maxlength => 2 %>
          <%= submit_tag "Ok", :class => "submit" %>
        </li>
      <% end %>
    </ul>
    
    <ul>
      <li><%= filter_link "Any condition", :condition, nil %></li>
      <% 5.downto(3) do |i| %>
        <li>
          <a href="<%= filter_path :condition, i %>">
            <div class="rating">
            <% i.times do %>
              <span class="star<%= params[:condition].to_i == i ? "" : " grey" %>">*</span>
            <% end %>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
    
    <ul>
      <li><%= filter_link "All formats", :format, nil %></li>
      <% @formats.each do |x| %>
        <li><%= filter_link x.name, :format, x.id %></li>
      <% end %>
    </ul>
    
    <ul class="price">
      <li><%= link_to("Any price", filter_path(:price, nil), :class => ((params[:price].blank? && params[:price_from].blank? && params[:price_to].blank?) ? "current" : nil)) %></li>
      <li><%= filter_link "Less than #{RupeeHelper.to_rupee_span(50)}".html_safe, :price, "-50" %></li>
      <li><%= filter_link "#{RupeeHelper.to_rupee_span(50)} &ndash; #{RupeeHelper.to_rupee_span(100)}".html_safe, :price, "50-100" %></li>
      <li><%= filter_link "#{RupeeHelper.to_rupee_span(100)} &ndash; #{RupeeHelper.to_rupee_span(200)}".html_safe, :price, "100-200" %></li>
      <li><%= filter_link "More than #{RupeeHelper.to_rupee_span(200)}".html_safe, :price, "200-" %></li>
      <%= form_tag root_path(:anchor => "products"), :method => :get do %>
        <% filter_params(:price, nil).each do |k,v| %>
          <input type="hidden" name="<%= k %>" value="<%= v %>" />
        <% end %>
        <li class="custom">
          <span<%= class_if (params[:price_from].present? || params[:price_to].present?), "current" %>>Custom</span>
          <%= text_field_tag :price_from, params[:price_from], :autocomplete => "off", :class => "text", :maxlength => 3 %>
          <span class="to">to</span>
          <%= text_field_tag :price_to, params[:price_to], :autocomplete => "off", :class => "text", :maxlength => 3 %>
          <%= submit_tag "Ok", :class => "submit" %>
        </li>
      <% end %>
    </ul>
</section>