<section id="filters">
  <h3>Browse</h3>
  <%= form_tag store_path, :method => :get do %>
    <input type="hidden" name="sort" value="<%= params[:sort] %>" />
    <% if params[:publisher].present? %>
      <input type="hidden" name="publisher" value="<%= params[:publisher] %>" />
    <% end %>
    <% if params[:author].present? %>
      <input type="hidden" name="author" value="<%= params[:author] %>" />
    <% end %>
    <% if params[:illustrator].present? %>
      <input type="hidden" name="illustrator" value="<%= params[:illustrator] %>" />
    <% end %>
    <% if params[:award].present? %>
      <input type="hidden" name="award" value="<%= params[:award] %>" />
    <% end %>
    
    <label>Search</label>
    <div class="search container">
      <input type="text" name="search" value="<%= params[:search] %>" />
    </div>
    
    <label>Used or New</label>
    <ul>
      <li>
        <%= filter_box "type", "new" %> <span>New books</span>
      </li>
      <li>
        <%= filter_box "type", "used" %> <span>Used books</span>
      </li>
    </ul>
    
    <label>Book types</label>
    <ul>
    <% @stocked_products ||= Product.unscoped.where(:in_stock => true) %>
    <% @stocked_product_ids ||= @stocked_products.map{|x| x.id} %>
    <% ProductType.where(:id => @stocked_products.map{|x| x.product_type_id}).order(:name).each do |x| %>
      <li>
        <%= filter_box "book_type", x.id %>
        <span><%= x.name %></span>
      </li>
    <% end %>
    </ul>
    
    <label>Fiction/Non-fiction</label>
    <ul>
    <% ContentType.limit(2).order(:id).each do |x| %>
      <li>
        <%= filter_box "content_type", x.id %>
        <span><%= x.name %></span>
      </li>
    <% end %>
    </ul>
    
    <label>Age</label>
    <div class="age container">
      <input type="text" name="age_from" value="<%= params[:age_from] %>"/> <span>to</span> <input type="text" name="age_to" value="<%= params[:age_to] %>" />
    </div>
    
    <label>Condition</label>
    <ul>
    <% 5.downto(1).each do |c| %>
      <li>
        <%= filter_box "condition", c %>
        <div class="condition"><span><%= Copy.condition_to_words(c) %></span>
        <span class="rating"><%= render "shared/rating", :rating => c %></div>
      </li>
    <% end %>
    </ul>
    
    
    <label>Formats</label>
    <ul>
    <% @stocked_editions = Edition.where('"editions"."id" IN (SELECT edition_id FROM copies WHERE copies.in_stock = TRUE)') %>
    <% Format.where(:id => @stocked_editions.map{|x| x.format_id}).order(:name).each do |f| %>
      <li>
        <%= filter_box "format", f.id %>
        <span><%= f.name %></span>
      </li>
    <% end %>
    </ul>
    
    
    <label>Price</label>
    <ul class="price">
      <li class="range">
        <span>Rs.</span><input type="text" name="price_from" value="<%= params["price_from"] %>"/> <span>to</span> <input type="text" name="price_to" value="<%= params["price_to"] %>" />
      </li>
      <li>
        <%= filter_box "price", "-50" %>
        <span>less than Rs. 50</span>
      </li>
      <li>
        <%= filter_box "price", "50-100" %>
        <span>Rs. 50 &ndash; Rs. 100</span>
      </li>
      <li>
        <%= filter_box "price", "100-200" %>
        <span>Rs. 100 &ndash; Rs. 200 </span>
      </li>
      <li>
        <%= filter_box "price", "200-500" %>
        <span>Rs. 200 &ndash; Rs. 500 </span>
      </li>
      <li>
        <%= filter_box "price", "500-" %>
        <span>more than Rs. 500</span>
      </li>
    </ul>
    
    <div class="submit-container">
      <%= submit_tag ("Apply"), :class => "submit" %>
    </div>
    
  <% end %>
</section>