<% if applied_filters.present? || get_base.present? %>
    <div class="applied-filters">
        <%= link_to "Clear", collection_path(:all, nil), :class => "clear-link" %>
        <ul>
            <li><%= collection_link filter_name(get_base, params[get_base]), get_base, params[get_base] %></li>
            <% price_done = false %>
            <% applied_filters.each do |f| %>
                <% if !%w[price price_from price_to].include?(f.to_s) %>
                    <li class="filter"><%= filter_name(f, params[f]) %></li>
                <% elsif !price_done %>
                    <li class="filter"><%= price_name %></li>
                    <% price_done = true %>
                <% end %>
            <% end %>
        </ul>
    </div>
<% end %>

<p class="sort" data-current="<%= params[:sort] %>">
    sort by
    <% sort_array = %w[random date title author age price] %>
    <%= sort_array.map {|x| sort_link(x) }.join(' | ').html_safe %>
</p>

<div class="covers">
    <% if @products.length > 0 %>
        <div class="row">
        <% i = 0 %>
        <% @products.each do |p| %>
            <% i += 1 %>
            <%= render "products/cover", :product => p %>
            <% if i % 4 == 0 %>
        </div>
        <div class="row">
            <% end %>
        <% end %>
        </div>
    <% else %>
        <p class="no-results">No books were found...</p>
    <% end %>
</div>

<%= paginate @products %>