<div class="column">
  <h3>Pick up points</h3>

  <p>We will get in touch with you to find a convenient pick up point.</p>

  <h3>Delivery</h3>

  <p>We also send books anywhere in India through reputed couriers. If there is no courier service available in your area, we  will use Government Registered Bookpost or Speedpost.</p>

  <p>Our delivery charges are:</p>

  <p>First book : Rs. 40<br />
  Additional books: Rs. 10 each</p>

  <p>You can expect to receive your books 4-7 days after your payment is credited to our account.</p>

  <h3>Payment</h3>

  <p>We know an online payment gateway would be tremendously convenient, but we are still too small to invest in one. Meanwhile we prefer payment by online bank transfer.</p>

  <p>We also accept payment by cheque, or cash at a pick-up point.</p>

  <p>Our bank account details are:</p>

  <p>SHALINI SEKHAR<br />
  Axis Bank, Banashankari, Bangalore<br />
  Account number: 912010025848541<br />
  IFSC Code: UTIB0000102<p>

  <p>Cheques should be addressed to Shalini Sekhar, <strong>NOT</strong> Story Revolution. The address to send a cheque to is,</p>

  <p>#93, 7th cross,<br />
  Armanenagar, RMV 2nd stage,<br />
  Bangalore - 560094</p>
</div>

<div class="column">
  <h3>Condition of used books</h3>

  <p>We like working with used books for many reasons: the excitement of discovery,
  finding unusual and rare books, and because it is wonderful to be able to reuse
  things and pass loved possessions on.</p>

  <p>However we are careful to see that every book we pick up is in readable
  condition, with no pages missing. In the rare case that there is an oversight,
  we are happy to exchange or take back the book.</p>

  <p>Books are classified on the basis of their condition:</p>

  <p><strong class="condition">Like New</strong> <span  class="rating"><%= render "shared/rating", :rating => 5, :no => true %></span>

  <p>These are excellent copies that are good enough to be gifted, bearing no pen marks or stains of any sort.</p>

  <p><strong class="condition">Excellent</strong> <span  class="rating"><%= render "shared/rating", :rating => 4, :no => true %></span></p>

  <p>These copies have no major creases, stains, tears or dog-eared pages, but may
  be very mildly creased or marked. Their condition is otherwise excellent.</p>

  <p><strong class="condition">Good</strong> <span class="rating"><%= render "shared/rating", :rating => 3, :no => true %></span></p>

  <p>These have no major tears and are not very old or worn-out. But they may be
  creased, stained or dog-eared. They are in good reading condition.</p>

  <p><strong class="condition">Acceptable</strong> <span class="rating"><%= render "shared/rating", :rating => 2, :no => true %></span> <span class="and">and</span> <span class="rating"><%= render "shared/rating", :rating => 1, :no => true %></span></p>

  <p>Copies classified as acceptable are damaged but readable. They may be old and
  yellowing, or have torn pages (which do not get in the way of reading), and may
  be heavily marked.</p>
</div>
<div class="column">
  <h3>Return</h3>

  <p>If you are dissatisfied with any of the books you receive for any reason, we
  are happy to exchange the book for another or take it back. Return postage costs
  must be borne by you.</p>

  <h3>Cancellation</h3>
  <p>To cancel an order before it has been shipped out please email us at
  <span class="email obf">contact<span>.no.spam</span>@story<span>spamprevention</span>revolution.in</span>. If your order has already been posted out, you will
  have to bear the cost of returning the items.</p>
</div>