<% link_to_image ||= false %>
<% present(book) do |b| %>
<div class="cover-container">
  <div class="cover" 
    data-title="<%= b.title %>" 
    data-creators="<%= b.creators %>" 
    data-description="<%= b.short_description %>" 
    data-used-copy-min-price="<%= b.used_copy_min_price %>" 
    data-new-copy-min-price="<%= b.new_copy_min_price %>" 
    data-age-level="<%= b.age_level %>">
    
    <%= b.inner_cover(link_to_image) %>
  </div>
<% end %>
</div>