<% link_to_image ||= false %>
<% if book.cover_image.present? %>
  <%= link_to (image_tag book.cover_image.thumb_url,
        :alt => "#{book.author_name} - #{book.title}",
        :width => book.cover_image.thumb_width,
        :height => book.cover_image.thumb_height),
    (link_to_image ? book.cover_image.url : book_path(book)),
    :class => link_to_image ? nil : "book-link"
  %>
<% else %>
  <div class="blank-cover">
    <% if link_to_image || book.new_record? %>
      <p class="title"><%= book.title %></p>
      <p class="author"><%= book.author_name %></p>
    <% else %>
      <a class="book-link" href="<%= book_path(book) %>">
        <p class="title"><%= book.title %></p>
        <p class="author"><%= book.author_name %></p>
      </a>
    <% end %>
  </div>
<% end %>