<section id="book-info">

  <% if @book.cover_image.present? %>
    <div class="cover-section">
      <div class="large-cover">
        <img src="<%= @book.cover_image.medium_url %>" alt="" width="<%= @book.cover_image.medium_width %>" height="<%= @book.cover_image.medium_height %>" />
      </div>
      <% if @book.amazon_url.present? %>
        <p class="amazon-link"><%= link_to "View reviews on amazon", @book.amazon_url, :class => :ext %></p>
      <% end %>
    </div>
  <% end %>
  
  <h2><%= @book.title %></h2>
  
  <div class="creators">
    <p class="author">by <%= link_to @book.author_name, collection_path(:author, @book.author_id) %></p>
    
    <% if @book.illustrator.present? && @book.illustrator_name != @book.author_name %>
      <p class="illustrator">illustrated by <%= link_to @book.illustrator_name, collection_path(:illustrator, @book.illustrator_id) %></p>
    <% end %>
  </div>
  
  <div class="age_year">
    <% if @book.age_from.present? %>
      <p class="age">May be appropriate for
      <span><%=raw @book.age_to.present? && (@book.age_to != @book.age_from) ? "ages #{@book.age_from} &ndash; #{@book.age_to}" : "age #{@book.age_from}" %></span>
      <span class="sidenote">(and up)</span>
    <% end %>
    
    <% if @book.publisher.present? %>
    <p class="publisher">Publisher: <span><%= @book.publisher_name %></span></p>
  <% end %>
    
    <% if @book.year.present? %>
      <p class="year">First published in <span><%= @book.year %></span>
    <% end %>
  </div>
  
  <% if @book.cover_image.blank? %>
    <% if @book.amazon_url.present? %>
      <div class="amazon-links">
        <p class="amazon-link"><%= link_to "View reviews on amazon", @book.amazon_url, :class => :ext %></p>
      </div>
    <% end %>
  <% end %>
  
  <% if @book.copies.new_copies.stocked.length > 0 %>
  <h3>Buy New Copies</h3>
  <table class="copies new-copies">
    <% @book.copies.new_copies.stocked.each do |c| %>
      <%= render "copy_row", :c => c %>
    <% end %>
  </table>
  <% end %>
  
  <% if @book.copies.used_copies.stocked.length > 0 %>
  <h3>Buy Used Copies</h3>
  <table class="copies used-copies">
    <% Copy.filter_unique(@book.copies.used_copies.stocked).each do |c| %>
      <%= render "copy_row", :c => c %>
    <% end %>
  </table>
  <% end %>

  <% if !(@book.copies.stocked.length > 0) %>
    <h3>Available Copies</h3>
    <p>There are no copies in stock at the moment.</p>
  <% end %>
  
  <div class="details">
    <% if @book.book_awards.length > 0 %>
      <div class="awards">
        <h3>Awards</h3>
        <p><%=raw @book.book_awards.map{|x| link_to(x.full_name, collection_path(:award, x.award.award_type_id)) }.join(', ') %></p>
      </div>
    <% end %>
    
    <% if @book.collections.length > 0 %>
      <div class="collections">
        <h3>Collections</h3>
        <p><%=raw @book.collections.map{|x| link_to(x.name, collection_path(:collection, x.id)) }.join(', ') %></p>
      </div>
    <% end %>
    
    <% if @book.short_description.present? %>
      <h3>The Book, in Brief</h3>
      <p><%= @book.short_description %></p>
    <% end %>
    
    <% @book.other_fields.each do |desc| %>
      <h3><%= desc.title %></h3>
      <p><%= desc.content %></p>
    <% end %>
  </div>
  
  <%= link_to "Back", :back, :class => "back-button" %>
</section>