
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @customer.name %></p>

    <p>Thank you for ordering books from Story Revolution. Here is the summary of your order (#<%= @order.id %>). You can expect your books to be delivered 4-7 days after your payment has been credited to our account. If you have questions, please reply to this email.</p>

    <table>
      <tfoot>
        <tr>
          <td colspan="2"></td>
          <td style="padding:0 2em; text-align:right;"><p><strong>Postage:</strong> Rs. <%= @order.postage_amount %></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td style="padding:0 2em; text-align:right;"><p><strong>Total:</strong> Rs. <%= @order.total_amount %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @order.order_copies.each do |oc| %>
        <% c = oc.copy %>
        <% b = c.book %>
        <tr>
          <td style="padding:0 2em; min-width: 10em;">
            <p><strong><%= b.title %></strong></p>
            <p style="font-style:italic">
              <%= "#{b.author_name}#{" and #{b.illustrator_name}" if b.illustrator.present? && b.illustrator_name != b.author_name}" %>
            </p>
          </td>
          <td style="padding:0 2em;">
            <p><%= pluralize(oc.number, 'copy') %></p>
          </td>
          <td style="padding:0 2em; text-align:right;">
            <% if c.has_discount? %>
              <span style="text-decoration:line-through">Rs. <%= c.price %></span>
              <span>Rs. <%= c.discounted_price %></span>
            <% else %>
              Rs. <%= c.price %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% if @customer.delivery_method == 1 %>
    <p>Delivery by courier</p>
    <% else %>
      <p><Delivery by pickup</p>
      <p>Pickup point: <%= @customer.pickup_point_short_text %></p>
    <% end %>

    <% if @customer.payment_method_id == 3 %>
      <p>You have chosen to pay by cash when you collect your books from our pick-up point.</p>

      <p>You can also pay by bank transfer or cheque:</p>
    <% end %>

    <p>Our bank account details are:</p>
    <p>SHALINI SEKHAR<br />
    Axis Bank, Banashankari, Bangalore<br />
    Account number: 912010025848541<br />
    IFSC Code: UTIB0000102<p>

    <p>Cheques should be addressed to Shalini Sekhar, <strong>NOT</strong> Story Revolution. The address to send a cheque to is,</p>
    <p>#93, 7th cross,<br />
    Armanenagar, RMV 2nd stage,<br />
    Bangalore - 560094</p>
  </body>
</html>
