<%= simple_form_for [:admin, @product] do |f| %>
  
  <ul>
  <% f.object.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
  
  <ul>
  <% f.object.product_awards.each do |p| %>
    <% p.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  <% end %>
  </ul>
  
  <%= render "products/cover", :product => @product, :link_to_image => true %>
  <%= f.hidden_field :cover_image_id, :value => @product.cover_image_id %>
  <%= link_to "Clear", "#", :id => "clear-cover-link" %>
  <%= link_to "Upload", "#", :id => "upload-cover-link" %>
  <%= link_to "Use URL", "#", :id => "cover-url-link" %>
  
  <%= f.input :accession_id, :required => false, :label => "Book no.", :disabled => true %>
  <%= f.input :title, :required => false %>
  <%= f.input :author_name %>
  <%= f.input :illustrator_name %>
  <%= f.input :publisher_name %>
  <%= f.input :year, :label => "Year of Publication" %>
  <div class="input">
    <%= f.label :age_from, "Age level" %>
    <%= f.input_field :age_from %>
    <%= f.label :age_to, "to", :class => "inline" %>
    <%= f.input_field :age_to %>
  </div>
  <%= f.input :genre_list, :input_html => { "data-pre" => @product.genres_json } %>
  <%= f.input :keyword_list, :input_html => { "data-pre" => @product.keywords_json } %>
  <%= f.input :product_tag_list, :input_html => { "data-pre" => @product.product_tags_json } %>
  
  <div class="input">
    <label>Awards</label>
    <ul id="award-field-list">
      <% for product_award in @product.product_awards %>
        <%= f.simple_fields_for "award_attributes[]", product_award do |product_award_form| %>
          <%= render "admin/awards/fields", :f => product_award_form %>
        <% end %>
      <% end %>
    </ul>
    <a href="#" id="add-award-link">Add another award</a>
  </div>
  
  <%= f.input :flipkart_id %>
  <%= f.input :amazon_url %>
  <%= f.input :short_description %>
  
  <p>Other Fields:</p>
  <div class="field" id="other-fields">
    <% f.object.other_fields.each.with_index do |other_field,index| %>
      <%= f.simple_fields_for "other_field_attributes[]", other_field do |other_field_form| %>
        <%= render "admin/other_fields/fields", :f => other_field_form, :index => index %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Add another field", "#", :id => "add-field-link" %>
  
  <%= f.submit "Save" %>
<% end %>