<%= simple_form_for [:admin, @product], :defaults => { :required => false, :error => false } do |f| %>
  <div id="product-fields">
    <%= render "cover", :product => @product, :link_to_image => true, :form => f %>
    
    <%= f.input :accession_id, :as => :string, :label => "Book no.", :disabled => true %>
    <%= f.input :title, :input_html => { :autocomplete => :off } %>
    <%= f.input :author_name, :label => "Author" %>
    <%= f.input :illustrator_name, :label => "Illustrator" %>
    <%= f.input :publisher_name, :label => "Publisher" %>
    <%= f.input :year,
      :as => :string,
      :label => "Year of Publication",
      :label_html => { :class => "multi-line centered" },
      :input_html => { :maxlength => 4 } %>
    <%= f.input :country_name, :label => "Country", :as => :string %>
    <%= f.input :language_id,
                :as => :select,
                :collection => Language.all,
                :include_blank => false
                %>
    <div class="input">
      <%= f.label :age_from, "Age level", :class => ( @product.errors[:age_from].present? ? "error" : nil ) %>
      <%= f.input_field :age_from, :maxlength => 2, :as => :string %>
      <%= f.label :age_to, "to", :class => "inline" + ( @product.errors[:age_to].present? ? " error" : "" ) %>
      <%= f.input_field :age_to, :maxlength => 2, :as => :string %>
    </div>
    <%= f.input :content_type_id,
                :as => :select,
                :collection => ContentType.all,
                :include_blank => false
                %>
    <%= f.input :product_type_id,
                :label => "Book type",
                :as => :select,
                :collection => ProductType.all
                %>
    <%= f.input :collection_list, :label => "Collections", :input_html => { "data-pre" => @product.collections_json } %>
    
    <div class="input">
      <label<%=raw @product.errors[:product_awards].present? ? ' class="error"' : '' %>>Awards</label>
      <div id="award-field-list">
        <ul>
          <% for product_award in @product.product_awards %>
            <%= f.simple_fields_for "award_attributes[]", product_award do |product_award_form| %>
              <%= render "admin/awards/fields", :f => product_award_form %>
            <% end %>
          <% end %>
        </ul>
        <p>
          <a href="#" id="add-award-link">Add award</a>
        </p>
      </div>
    </div>
    
    <%= f.input :flipkart_id, :label => "Flipkart ID", :input_html => { :maxlength => 20 } %>
    <%= f.input :amazon_url, :label => "Amazon URL" %>
    <%= f.input :short_description, :label_html => { :class => "multi-line" } %>
    
    <div class="input descriptions">
      <label for="description-title">Descriptions</label>
      <div id="description-fields">
        <%= render "admin/other_fields/fields", :form => f, :product => @product %>
      </div>
    </div>
    
    <%= render "admin/products/amazon_sidebar" %>
  </div>
  
  <%= f.submit "Save", :class => "submit" %>
  
  <%= f.submit "Next Book", :class=>"next-book submit" %>
  
  <%= f.submit "Previous Book", :class=>"previous-book submit" %>
<% end %>