<%= simple_form_for [:admin, @product] do |f| %>
  
  <ul>
  <% f.object.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
  
  <ul>
  <% f.object.product_awards.each do |p| %>
    <% p.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  <% end %>
  </ul>
  
  <div id="product-fields">
  
    <%= render "cover", :product => @product, :link_to_image => true, :form => f %>
    
    <%= f.input :accession_id, :required => false, :label => "Book no.", :disabled => true %>
    <%= f.input :title, :required => false %>
    <%= f.input :author_name, :label => "Author" %>
    <%= f.input :illustrator_name, :label => "Illustrator" %>
    <%= f.input :publisher_name, :label => "Publisher" %>
    <%= f.input :year,
      :label => "Year of Publication",
      :label_html => { :class => "multi-line centered" },
      :input_html => { :maxlength => 4 } %>
    <div class="input">
      <%= f.label :age_from, "Age level" %>
      <%= f.input_field :age_from, :maxlength => 2 %>
      <%= f.label :age_to, "to", :class => "inline" %>
      <%= f.input_field :age_to, :maxlength => 2 %>
    </div>
    <%= f.input :genre_list, :label => "Genres", :input_html => { "data-pre" => @product.genres_json } %>
    <%= f.input :keyword_list, :label => "Keywords", :input_html => { "data-pre" => @product.keywords_json } %>
    <%= f.input :product_tag_list, :label => "Product Tags", :input_html => { "data-pre" => @product.product_tags_json } %>
    
    <div class="input">
      <label>Awards</label>
      <div id="award-field-list">
        <ul>
          <% for product_award in @product.product_awards %>
            <%= f.simple_fields_for "award_attributes[]", product_award do |product_award_form| %>
              <%= render "admin/awards/fields", :f => product_award_form %>
            <% end %>
          <% end %>
        </ul>
        <p>
          <a href="#" id="add-award-link">Add award</a>
        </p>
      </div>
    </div>
    
    <%= f.input :flipkart_id, :label => "Flipkart ID", :input_html => { :maxlength => 20 } %>
    <%= f.input :amazon_url, :label => "Amazon URL" %>
    <%= f.input :short_description, :label_html => { :class => "multi-line" } %>
    
    <label>Descriptions</label>
    <div class="field" id="other-fields">
      <% f.object.other_fields.each.with_index do |other_field,index| %>
        <%= f.simple_fields_for "other_field_attributes[]", other_field do |other_field_form| %>
          <%= render "admin/other_fields/fields", :f => other_field_form, :index => index %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Add another field", "#", :id => "add-field-link" %>
    
    <%= render "admin/products/amazon_sidebar" %>
  </div>
  
  <%= f.submit "Save" %>
<% end %>