<% content_for :top_nav do %>
  <li>
    <%= link_to "Books", admin_products_path %>
  </li>
  
  <li>></li>
  <li>
    <%= link_to "Search", admin_products_path %>
  </li>
  
  <li>></li>
  <li>
    <%= link_to "Edit", edit_admin_product_path(@product) %>
  </li>
  
  <li>></li>
  <li class="current">
    <%= link_to "Book Information", edit_admin_product_path(@product) %>
  </li>
  
  <li>></li>
  <li>
    <%= link_to "Copies", admin_product_path(@product) %>
  </li>
  
  <li class="right">
    <%= link_to "Stock-Taking", "#" %>
  </li>
<% end %>

<div id="product-fields">
  
  <%= render "fields" %>
  
  <%= link_to "Delete Product", admin_product_path(@product),
    :confirm => "Are you sure you want to delete this product? This cannot be undone.",
    :method => :delete %>
  
  <%= render "amazon_sidebar" %>

  </div>