<ul class="top-nav">
  <li>
    Books
    <ol>
      <li>
        <%= link_to "Search", admin_products_path %>
      </li>
      <li>
        <%= link_to "Edit", edit_admin_product_path(@product) %>
      </li>
      <li>
        <%= link_to "Book Information", edit_admin_product_path(@product) %>
      </li>
      <li>
        <%= link_to "Copies", admin_product_path(@product) %>
      </li>
    </ol>
</ul>

<%= render "fields" %>

<%= render "amazon_sidebar" %>