<% content_for :book_nav do %>
  <ol>
    <li>
      <%= link_to "Search", admin_products_path %>
    </li>
    <li>
      <%= link_to "Edit", edit_admin_product_path(@product) %>
    </li>
    <li>
      <%= link_to "Book Information", edit_admin_product_path(@product) %>
    </li>
    <li>
      <%= link_to "Copies", admin_product_path(@product) %>
    </li>
  </ol>
<% end %>

<p><strong>Title:</strong> <%= @product.title %></p>

<p><strong>Author:</strong> <%= @product.author_name %></p>

<p><strong>Editions</strong></p>

<table id="edition-table" data-url="<%= admin_product_editions_path(@product) %>">
  <% @product.editions.each do |e| %>
    <tr data-id="<%= e.id %>">
      <td data-val="<%= e.isbn %>"><%= e.isbn %></td>
      <td data-val="<%= e.format_name %>"><%= e.format_name %></td>
      <td data-val="<%= e.base_price %>"><%= e.formatted_base_price %></td>
    </tr>
  <% end %>
</table>

<p><strong>Copies</strong></p>

<table id="copy-table">
</table>
