<% content_for :top_nav do %>
  <li>
    <%= link_to "Books", admin_products_path %>
  </li>
  
  <li>></li>
  <li>
    <%= link_to "Search", admin_products_path %>
  </li>
  
  <li>></li>
  <li>
    <%= link_to "Edit", edit_admin_product_path(@product) %>
  </li>
  
  <li>></li>
  <li>
    <%= link_to "Book Information", edit_admin_product_path(@product) %>
  </li>
  
  <li>></li>
  <li class="current">
    <%= link_to "Copies", admin_product_path(@product) %>
  </li>
  
  <li class="right">
    <%= link_to "Stock-Taking", "#" %>
  </li>
<% end %>

<div class="input first">
  <label>Title</label>
  <input type="text" disabled="disabled" value="<%= @product.title %>" />
</div>

<div class="input">
  <label>Author</label>
  <input type="text" disabled="disabled" value="<%= @product.author_name %>" />
</div>

<div class="table">
  <label>Editions</label>
  
  <div class="table-container">
    <table id="edition-table" data-url="<%= admin_product_editions_path(@product) %>">
      <% alt = false %>
      <% @product.editions.each do |e| %>
        <tr data-id="<%= e.id %>"<%= alt ? ' class="alt"' : nil %>>
          <td data-val="<%= e.isbn %>"><%= e.isbn %></td>
          <td data-val="<%= e.format_name %>"><%= e.format_name %></td>
          <td data-val="<%= e.base_price %>"><%= e.formatted_base_price %></td>
        </tr>
        <% alt != alt %>
      <% end %>
    </table>
  </div>
</div>

<div class="table">
  <label>Copies</label>
  
  <div class="table-container">
    <table id="copy-table">
    </table>
  </div>
</div>
