<% content_for :top_nav do %>
  <li class="current">
    <%= link_to "Summary", summarised_admin_transactions_path %>
  </li>
  
  <li>
    <%= link_to "Details", admin_transactions_path %>
  </li>
  
  <li>
    <%= link_to "Configure", admin_finances_config_path %>
  </li>
<% end %>

<% content_for :pre_head do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>

<%= render "date_controls" %>

<div id="graph-controls">  
  <ul class="period">
    <li data-val="yearly" data-axis="Years"><a href="#">Yearly</a></li>
    <li data-val="quarterly" data-axis="Quarters"><a href="#">Quarterly</a></li>
    <li data-val="monthly" data-axis="Months"><a href="#">Monthly</a></li>
    <li data-val="weekly" data-axis="Weeks" class="current"><a href="#">Weekly</a></li>
    <li data-val="daily" data-axis="Days"><a href="#">Daily</a></li>
  </ul>
  
  <ul class="data-type">
    <li data-val="profits" data-axis="Profits"><a href="#">Profits</a></li>
    <li data-val="sales" data-axis="Sales" class="current"><a href="#">Sales</a></li>
  </ul>
</div>
<div id="graph"></div>

<div class="summary">
  <table>
    <thead>
      <tr>
        <th>Summary</th>
        <th class="dates"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="income">
        <td>Income</td>
        <td class="amount"><%= RupeeHelper.format_rupee(@income) %></td>
      </tr>
      
      <tr class="expenditure">
        <td>Expenditure</td>
        <td class="amount"><%= RupeeHelper.format_rupee(@expenditure) %></td>
      </tr>
      
      <tr class="profit">
        <td>Profit</td>
        <td class="amount"><%= RupeeHelper.format_rupee(@profit) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="accounts">
  <table>
    <thead>
      <tr>
        <th>Account Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @accounts.each do |x| %>
    <tr>
      <td><%= x.name %></td>
      <td class="amount"><%= RupeeHelper.format_rupee(x.balance) %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
