<% content_for :top_nav do %>
  <li class="current">
    <%= link_to "Summary", summarised_admin_transactions_path %>
  </li>
  
  <li>
    <%= link_to "Details", admin_transactions_path %>
  </li>

  <li>
    <%= link_to "Loans", admin_loans_path %>
  </li>
  
  <li>
    <%= link_to "Configure", admin_finances_config_path %>
  </li>
<% end %>

<% content_for :pre_head do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>

<%= render "date_controls" %>

<div id="graph-controls" data-from="<%= params[:from] %>" data-to="<%= params[:to] %>" data-period="<%= @gaph_period %>" data-type="<%= @gaph_type %>">  
  <ul class="period">
    <% %w[yearly quarterly monthly weekly daily].each do |x| %>
      <li data-val="<%= x %>"<%= class_if (x == @graph_period), "current" %>><a href="#"><%= x.capitalize %></a></li>
    <% end %>
  </ul>
  
  <ul class="data-type">
  <% %w[profits sales].each do |x| %>
      <li data-val="<%= x %>"<%= class_if (x == @graph_type), "current" %>><a href="#"><%= x.capitalize %></a></li>
    <% end %>
  </ul>
</div>
<div id="graph"></div>

<div class="summary">
  <table>
    <thead>
      <tr>
        <th>Summary</th>
        <th class="dates"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="income">
        <td>Income</td>
        <td class="amount"><%= CurrencyMethods.formatted_currency(@income) %></td>
      </tr>
      
      <tr class="expenditure">
        <td>Expenditure</td>
        <td class="amount"><%= CurrencyMethods.formatted_currency(@expenditure) %></td>
      </tr>
      
      <tr class="profit">
        <td>Profit</td>
        <td class="amount"><%= CurrencyMethods.formatted_currency(@profit) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="accounts">
  <table>
    <thead>
      <tr>
        <th>Account Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @accounts.each do |x| %>
    <tr>
      <td><%= x.name %></td>
      <td class="amount"><%= CurrencyMethods.to_currency(x.balance) %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
