<% if @product.cover_image.present? %>
  <div class="cover-section">
    <div class="large-cover">
      <img src="<%= @product.cover_image.medium_url %>" alt="" />
    </div>
    <% if @product.amazon_url.present? %>
      <p class="amazon-link"><%= link_to "View reviews on amazon", @product.amazon_url, :class => :ext %></p>
    <% end %>
  </div>
<% end %>

<h2><%= @product.title %></h2>

<div class="creators">
  <p class="author">by <span><%= @product.author_name %></span></p>
  
  <% if @product.illustrator.present? %>
    <p class="illustrator">illustrated by <span><%= @product.illustrator_name %></span></p>
  <% end %>
</div>

<div class="age_year">
  <% if @product.age_from.present? %>
    <p class="age">May be appropriate for
    <span><%=raw @product.age_to.present? ? "ages #{@product.age_from} &ndash; #{@product.age_to}" : "age #{@product.age_from}" %></span>
    <span class="sidenote">(and up)</span>
  <% end %>
  
  <% if @product.year.present? %>
    <p class="year">First published in <span><%= @product.year %></span>
  <% end %>
</div>

<% if @product.cover_image.blank? %>
  <% if @product.amazon_url.present? %>
    <div class="amazon-links">
      <p class="amazon-link"><%= link_to "View reviews on amazon", @product.amazon_url, :class => :ext %></p>
    </div>
  <% end %>
<% end %>

<h3>Available Copies</h3>
<% if @product.copies.length > 0 %>
<table class="copies">
  <% @product.copies.each do |c| %>
    <tr>
      <td class="format" title="<%= c.edition.publisher_name %>"><%= c.edition.format_name %></td>
      <td title="<%= c.condition_description %>">
        <% c.condition_rating.times do %>
          <span class="star">*</span>
        <% end %>
        
        <% (5 - c.condition_rating).times do %>
          <span class="empty star"></span>
        <% end %>
      </td>
      <td><%= RupeeHelper.to_rupee(c.price) %></td>
      <td><%= link_to "Buy", "#", :class => "buy-link", :title => "Buy" %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>There are no copies in stock at the moment.</p>
<% end %>

<div class="details">
  <% if @product.product_awards.length > 0 %>
    <div class="awards">
      <h3>Awards</h3>
      <p><%= @product.award_list %></p>
    </div>
  <% end %>
  
  <% if @product.keywords.length > 0 %>
    <div class="keywords">
      <h3>Keywords</h3>
      <p><%= @product.keyword_list %></p>
    </div>
  <% end %>
  
  <% if @product.short_description.present? %>
    <h3>The Book, in Brief</h3>
    <p><%= @product.short_description %></p>
  <% end %>
  
  <% @product.other_fields.each do |desc| %>
    <h3><%= desc.title %></h3>
    <p><%= desc.content %></p>
  <% end %>
</div>