<% link_to_image ||= false %>
<% if product.cover_image.present? %>
  <%= link_to (image_tag product.cover_image.thumb_url, :alt => "#{product.author_name} - #{product.title}"),
    (link_to_image ? product.cover_image.url : product_path(product)),
    :class => link_to_image ? nil : "product-link"
  %>
<% else %>
  <div class="blank-cover">
    <% if link_to_image || product.new_record? %>
      <p class="title"><%= product.title %></p>
      <p class="author"><%= product.author_name %></p>
    <% else %>
      <a class="product-link" href="<%= product_path(product) %>">
        <p class="title"><%= product.title %></p>
        <p class="author"><%= product.author_name %></p>
      </a>
    <% end %>
  </div>
<% end %>