<!DOCTYPE html>
<html>
<head>
  <title>StoryRev</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Admin Area", admin_root_url %>
<%= yield %>

</body>
</html>
