<!DOCTYPE html>
<html>
<head>
  <title>StoryRev</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= class_if @class, @class %>>

<div id="wrapper">
  <%= link_to "Admin Area", admin_root_url %>
  <%= yield %>
  
  <%= render "shared/footer" %>
</div>

</body>
</html>
