<!DOCTYPE html>
<html>
<head>
  <title>Story Revolution<%= @title.present? ? " - #{@title}" : "" %></title>
  <link href='http://fonts.googleapis.com/css?family=Arvo|Quicksand:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= class_if @class, @class %>>

<div id="wrapper">
  
  <header id="page-header">
    <img src="/images/header.png" alt="" />
    <nav class="navigation">
      <ul>
        <li class="store"><%= link_to "Bookstore", store_path %></li>
        <li class="more-url"><%= link_to "Learn More", store_path(:anchor => "page-footer") %></li>
      </ul>
      
      <%= link_to "Shopping Cart (#{shopping_cart.items})", shopping_cart_path,
        :id=>"shopping-cart-link",
        :class => shopping_cart.items > 0 ? "full" : nil
      %>
    </nav>
  </header>
  
  <%= yield %>
  
</div>

</body>
</html>
